.gradle/
.idea/
build/
coc/
eclipse/
out/
gradle/
forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
gradlew.bat
gradlew
superheroesaddon.iml
superheroesaddon.ipr
superheroesaddon.iws
superheroesaddon_api.iml
superheroesaddon_main.iml
superheroesaddon_test.iml
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
CREDITS-fml.txt